* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.nav-left {
    font-size: 40px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0px 77px;
    font-size: 18px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.5s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    border-radius: 10px;
}

.content-left {
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    z-index: 1;
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 355px;
    border-radius: 250px;
    width: 500px;
}

.home-articles {
    background-color: rgb(23, 23, 85, 0.3);
    padding: 15px;
    margin-top: 20px;
    position: relative;
}

.year-box {
    position: absolute;
    width: 250px;
    height: 250px;
    right: 150px;
    top: 100px;
    font-size: 20px;
}

.year-box div {
    margin: 12px 0;
    font-size: 20px;
}

.home-articles h2 {
    font-size: 35px;
}

.home-article {
    display: flex;
    margin: 25px;
    padding-top: 12px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}